<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon.png">
    <title>Login</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/monsteradmin/" />
    <!-- Custom CSS -->
    <link href="./assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="./assets/extra-libs/c3/c3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="./dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="./assets/css/signin.css">
</head>

<body>

    <div class="app">
        <!-- Signup modal content -->
        <div id="signup-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
        
                    <div class="modal-body">
                        <div class="text-center mt-2 mb-4">
                            <a href="index.html" class="text-success">
                                <span><img class="mr-2" src="./assets/images/logo-icon.png" alt="" height="18"><img
                                        src="./assets/images/logo-text.png" alt="" height="18"></span>
                            </a>
                        </div>
        
                        <form class="pl-3 pr-3" action="#">
        
                            <div class="form-group">
                                <label for="username">Name</label>
                                <input class="form-control" type="email" id="username" required="" placeholder="Michael Zenaty">
                            </div>
        
                            <div class="form-group">
                                <label for="emailaddress">Email address</label>
                                <input class="form-control" type="email" id="emailaddress" required=""
                                    placeholder="john@deo.com">
                            </div>
        
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input class="form-control" type="password" required="" id="password"
                                    placeholder="Enter your password">
                            </div>
        
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">I
                                        accept <a href="#">Terms and Conditions</a></label>
                                </div>
                            </div>
        
                            <div class="form-group text-center">
                                <button class="btn btn-primary" type="submit">Sign Up
                                    Free</button>
                            </div>

                            <div class="mt-5 text-center">
                                <span type="button" data-target="#login-modal" 
                                data-toggle="modal" data-dismiss="modal">Already have account
                                    <i class="ti-check"></i>
                                </span>
                            </div>
        
                        </form>
        
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
        
        <!-- SignIn modal content -->
        <div id="login-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="text-center mt-2 mb-4">
                            <a href="index.html" class="text-success">
                                <span><img class="mr-2" src="./assets/images/logo-icon.png" alt="" height="18"><img
                                        src="./assets/images/logo-text.png" alt="" height="18"></span>
                            </a>
                        </div>
        
                        <form action="#" class="pl-3 pr-3">
        
                            <div class="form-group">
                                <label for="emailaddress1">Email address</label>
                                <input class="form-control" type="email" id="emailaddress1" required=""
                                    placeholder="john@deo.com">
                            </div>
        
                            <div class="form-group">
                                <label for="password1">Password</label>
                                <input class="form-control" type="password" required="" id="password1"
                                    placeholder="Enter your password">
                            </div>
        
                            <div class="form-group d-flex justify-content-between">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">Remember me</label>
                                </div>
                                <span type="button" data-target="#recoverform" 
                                data-toggle="modal" data-dismiss="modal">
                                    Forget password?
                                </span>
                            </div>
        
                            <div class="form-group text-center">
                                <button class="btn btn-rounded btn-primary" type="submit">Sign In</button>
                            </div>

                            <div class="mt-5 text-center">
                                <span type="button" data-target="#signup-modal" 
                                data-toggle="modal" data-dismiss="modal">Create your account 
                                    <i class="ti-pencil-alt"></i>
                                </span>
                            </div>
        
                        </form>
        
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- Forget pwd -->

        <div id="recoverform" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="text-center mt-2 mb-4">
                            <a href="index.html" class="text-success">
                                <span><img class="mr-2" src="./assets/images/logo-icon.png" alt="" height="18"><img
                                        src="./assets/images/logo-text.png" alt="" height="18"></span>
                            </a>
                        </div>
                        <div class="logo">
                            <h3 class="font-weight-medium mb-3">Recover Password</h3>
                            <span>Enter your Email and instructions will be sent to you!</span>
                        </div>
                        <div class="row mt-3">
                            <!-- Form -->
                            <form class="col-12 form-material" action="index.html">
                                <!-- email -->
                                <div class="form-group row">
                                    <div class="col-12">
                                        <input class="form-control" type="email" required="" placeholder="Your email">
                                    </div>
                                </div>
                                <!-- pwd -->
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <button class="btn btn-block btn-lg btn-primary text-uppercase" type="submit"
                                            name="action">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
        
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
        <div class="btn-list">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signup-modal">Sign up</button>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#login-modal">Log in</button>
        </div>
    </div>

    <script src="./assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="./assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="./assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- apps -->
    <script src="./dist/js/app.min.js"></script>
    <script src="./dist/js/app.init.js"></script>
    <script src="./dist/js/app-style-switcher.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="./assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="./assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!--Wave Effects -->
    <script src="./dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="./dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="./dist/js/feather.min.js"></script>
    <script src="./dist/js/custom.min.js"></script>
    <!-- ############################################################### -->
    <!-- This Page Js Files Here -->
    <!-- ############################################################### -->
    <script src="./assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="./assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="./assets/libs/echarts/dist/echarts.min.js"></script>
    <!--c3 charts -->
    <script src="./assets/libs/d3/dist/d3.min.js"></script>
    <script src="./assets/libs/c3/c3.min.js"></script>
    <script src="./dist/js/pages/dashboards/dashboard1.js"></script>
</body>

</html>