<header>
    <div class="container pt-4 pb-4">
        <header class="topbar" data-navbarbg="skin1">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6 d-flex">
                    <a href="index.html" class="site-logo">
                        FUNNY CODE
                    </a>
                    <a href="#"
                        class="ml-auto d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                            class="icon-menu h3"></span></a>
                </div>
                <div class="col-12 col-lg-6 ml-auto d-flex">
                    <div class="ml-md-auto top-social d-none d-lg-inline-block">
                        <a href="#" class="d-inline-block p-3"><i class="ti-facebook"></i></a>
                        <a href="#" class="d-inline-block p-3"><i class="ti-twitter"></i></a>
                        <a href="#" class="d-inline-block p-3"><i class="ti-instagram"></i></a>
                        <a href="#" class="d-inline-block p-3"><i class="ti-google"></i></a>
                        <form class="app-search">
                            <input type="text" class="form-control rounded-pill" placeholder="Search...">
                            <a class="srh-btn"><i class="ti-search"></i></a>
                        </form>
                    </div>
                </div>
                <div class="col-6 d-block d-lg-none text-right">
                </div>
            </div>
        </header>
    </div>

    <nav>
        <div class="container">
            <ul class="nav align-items-center d-flex justify-content-center">
                <li class="nav-item"> <a href="/"
                        class="nav-link note-link d-flex align-items-center active px-2 px-md-3"
                        id="all-category">
                        <span class="d-none d-md-block">HOME</span></a>
                </li>
                <li class="nav-item"> <a href="javascript:void(0)"
                        class="nav-link note-link d-flex align-items-center px-2 px-md-3"
                        id="note-business">
                        <span class="d-none d-md-block">CODE</span></a>
                </li>
                <li class="nav-item"> <a href="javascript:void(0)"
                        class="nav-link note-link d-flex align-items-center px-2 px-md-3">
                        <span class="d-none d-md-block">LIFE</span></a>
                </li>
                <li class="nav-item"> <a href="javascript:void(0)"
                        class="nav-link note-link d-flex align-items-center px-2 px-md-3"
                        id="note-important">
                        <span class="d-none d-md-block">ABOUT</span></a>
                </li>
                <li class="nav-item"> <a href="javascript:void(0)"
                        class="nav-link note-link d-flex align-items-center px-2 px-md-3">
                        <span class="d-none d-md-block">CONTACT</span></a>
                </li>
                <li id="openModalLogin" class="nav-item"> <a href="javascript:void(0)"
                    class="nav-link note-link d-flex align-items-center px-2 px-md-3">
                    <span class="d-none d-md-block" data-toggle="modal" data-target="#login-modal">LOGIN</span></a>
                </li>
                <li id="profileDropdown" class="nav-item d-none dropdown"> <a href="/profile"
                    class="nav-link note-link d-flex align-items-center px-2 px-md-3">
                    <span class="d-none d-md-block">PROFILE</span></a>
                    <div class="dropdown-content">
                        <a href="/auth/logout">LOGOUT</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
