<Modal>
    <!-- Signup modal content -->
    <div id="signup-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
    
                <div class="modal-body">
                    <div class="text-center mt-2 mb-4">
                        <a href="index.html" class="text-success">
                            <span><img class="mr-2" src="./assets/images/logo-icon.png" alt="" height="18"><img
                                    src="./assets/images/logo-text.png" alt="" height="18"></span>
                        </a>
                    </div>
    
                    <form id="form-register" class="pl-3 pr-3">
    
                        <div class="form-group">
                            <label for="username">Name</label>
                            <input class="form-control" type="text" id="fullNameR" name="fullNameR">
                        </div>
    
                        <div class="form-group">
                            <label for="emailaddress">Email address</label>
                            <input class="form-control" type="text" id="emailR" name="emailR">
                        </div>
    
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input class="form-control" type="password" id="passwordR" name="passwordR">
                        </div>

                        <div class="form-group">
                            <label for="confirm_password">Confirm Password</label>
                            <input class="form-control" type="password" id="confirm_password" name="confirm_password">
                        </div>
    
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">I
                                    accept <a href="#">Terms and Conditions</a></label>
                            </div>
                        </div>
    
                        <div class="form-group text-center">
                            <button class="btn btn-block btn-secondary" type="button" id="btn-register">Sign Up
                                Free</button>
                        </div>

                        <div class="mt-5 text-center">
                            <span type="button" data-target="#login-modal" 
                            data-toggle="modal" data-dismiss="modal">Already have account
                                <i class="ti-check"></i>
                            </span>
                        </div>
    
                    </form>
    
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    
    <!-- SignIn modal content -->
    <div id="login-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center mt-2 mb-4">
                        <a href="index.html" class="text-success">
                            <span><img class="mr-2" src="./assets/images/logo-icon.png" alt="" height="18"><img
                                    src="./assets/images/logo-text.png" alt="" height="18"></span>
                        </a>
                    </div>
    
                    <form id="form-login" class="pl-3 pr-3">
    
                        <div class="form-group">
                            <label for="emailaddress1">Email address</label>
                            <input class="form-control" type="text" id="emailL" name="emailL">
                        </div>
    
                        <div class="form-group">
                            <label for="password1">Password</label>
                            <input class="form-control" type="password" id="passwordL" name="passwordL">
                        </div>
    
                        <div class="form-group d-flex justify-content-between">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label" for="customCheck2">Remember me</label>
                            </div>
                            <span type="button" data-target="#recoverform" 
                            data-toggle="modal" data-dismiss="modal">
                                Forget password?
                            </span>
                        </div>
    
                        <div class="form-group text-center">
                            <button class="btn btn-block btn-secondary" type="button" id="btn-login">Sign In</button>
                        </div>

                        <div class="mt-5 text-center">
                            <span type="button" data-target="#signup-modal"
                            data-toggle="modal" data-dismiss="modal">Create your account 
                                <i class="ti-pencil-alt"></i>
                            </span>
                        </div>
    
                    </form>
    
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Forget pwd -->

    <div id="recoverform" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center mt-2 mb-4">
                        <a href="index.html" class="text-success">
                            <span><img class="mr-2" src="./assets/images/logo-icon.png" alt="" height="18"><img
                                    src="./assets/images/logo-text.png" alt="" height="18"></span>
                        </a>
                    </div>
                    <div class="logo">
                        <h3 class="font-weight-medium mb-3">Recover Password</h3>
                        <span>Enter your Email and instructions will be sent to you!</span>
                    </div>
                    <div class="row mt-3">
                        <!-- Form -->
                        <form class="col-12 form-material" action="index.html">
                            <!-- email -->
                            <div class="form-group row">
                                <div class="col-12">
                                    <input class="form-control" type="email" required="" placeholder="Your email">
                                </div>
                            </div>
                            <!-- pwd -->
                            <div class="row mt-3">
                                <div class="col-12">
                                    <button class="btn btn-block btn-secondary" type="submit"
                                        name="action">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
    
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</Modal>

<script src="./assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="jquery-validation-1.19.2/forder/jquery.validate.js"></script>
<script>
    $(document).ready(function () {
        // post Register
            $("#form-register").validate({
                rules: {
                    emailR: {
                        required: true,
                        email: true
                    },
                    fullNameR: { required: true },
                    passwordR: { required: true, minlength: 6 },
                    confirm_password: { required: true, equalTo: "#passwordR" },
                },
                messages: {
                    emailR: { required: "*Email is not empty.", email: '*Please enter a valid email address.' },
                    fullNameR: { required: "*Full name is not empty." },
                    passwordR: { required: "*Password is not empty.", minlength: "*Password must be have at least 6 characters." },
                    confirm_password: {
                        required: "*Confirm password is not empty.",
                        equalTo: "*Two password must be equal."
                    },
                }
            })
            $("#btn-register").click(function () {
                var email = $("#emailR").val();
                var password = $("#passwordR").val();
                var fullName = $("#fullNameR").val();
                if ($("#form-register").valid()) {
                    $.ajax({
                        url: "/auth/register",
                        method: "POST",
                        data: {
                            email: email,
                            password: password,
                            fullName: fullName,
                        }
                    }).then(function (data) {
                        alertify.success(data.message);
                        $('#signup-modal').modal('hide');
                        $('#login-modal').modal('show');
                    }).catch(function (err) {
                        alertify.error(err.responseJSON.message);
                    })
                }
            })

            //post Login
            $("#form-login").validate({
                rules: {
                    emailL: {
                        required: true,
                    },
                    passwordL: { required: true, minlength: 6 },
                },
                messages: {
                    emailL: { required: "*Email is not empty."},
                    passwordL: { required: "*Password is not empty."},
                }
            })
            $("#btn-login").click(function () {
                var email = $("#emailL").val();
                var password = $("#passwordL").val();
                if ($("#form-register").valid()) {
                    $.ajax({
                        url: "/auth/login",
                        method: "POST",
                        data: {
                            email: email,
                            password: password,
                        }
                    }).then(function (data) {
                        alertify.success(data.message);
                        // Set a cookie
                        Cookies.set('token', data.token);
                        if (data.role === "user") {
                            console.log("vao r");
                            window.timeout = setTimeout(function () {
                                window.location.href = "/";
                            }, 1000)
                        }
                        else if (data.role === "admin") {
                            window.timeout = setTimeout(function () {
                                window.location.href = "/admin";
                            }, 1000)
                        }
                    }).catch(function (err) {
                        alertify.error(err.responseJSON.message);
                    })
                }
            })
        });
</script>
<!-- Check user login -->
<script>
    if(Cookies.get('token')) {
        $('#openModalLogin').addClass('d-none');
        $('#profileDropdown').removeClass('d-none');
    }
</script>